.muTableCommon {
  width: 100%;
  max-height: 1000px !important;

  .MuiTable-stickyHeader {
    width: 100%;
    height: 100px;
    th { padding: 0 !important; }

  }

  .header-with-subHeader {
    .subHeader {
      display: flex;

      .subHeader-item {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        th {
          width: 100%;
          height: 100%;
          margin: 0 !important;
          padding: 0 !important;
          height: 100%;
          border: 0;
        }
      }
    }
  }

  .row-with-subHeader {
    display: flex;

    .row-col {
      width: 100%;
      height: 100%;
    }
  }

  .editable-cell {
    .editable-cell-viewMode,
    .editable-cell-editMode {
      width: 100%;
      display: flex;

      svg {
        font-size: 16px;
        cursor: pointer;
      }

      > div:nth-child(1) {
        width: 100%;
        max-width: 400px;
        // line-break: anywhere;
      }

      .MuiTextField-root {
        width: inherit;
      }
    }

    .editable-cell-viewMode {
      > div {
        > p {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          margin: 0;
        }
      }
    }

    .editable-cell-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
    }
  }

  .selected {
    background-color: #e9e9e9;
  }

  table {
    tr {
      cursor: pointer;

      th,
      td {
        white-space: pre-line;
        padding: 10px 5px;
        text-align: center;
      }
    }
  }
}
